body{

    margin:0 ;
    padding:0 ;
    background-color:aqua ;
}

.page{

    display:flex ;
    flex-direction:column ;
    text-align:center ;
}

.logo{

        margin-top:12% ;
}

.img{

        width:250px ;
}
.box{

    position:absolute ;
    top:50% ;
    left:50% ;
    transform:translate(-50%,-50%) ;
    background-color:yellow ;
    height:20px ;
    border-radius:40px ;
    padding:12px ;
}

.btn{

    cursor: pointer;
    color:aqua ;
    float:right ;
    width:40px ;
    height: 40px;
    border-radius:50% ;
    background-color:yellow ;
    display:flex ;
    justify-content:center ;
    align-items:center ;
    translate:0.8 ;

}

.text{

    border:none ;
    background:none ;
    outline:none ;
    float: left;
    padding:0 ;
    color:white ;
    font-size:20px ;
    transition:-4s ;
    line-height:40px ;
    width:0px ;
}

.box:hover>.text{
    width:200px ;
    padding:0 6px ;

}

.box:hover>.btn{
    background-color:white ;
    transform:rotate(-250deg) ;

}

input::placeholder{

    color: green;
}